
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment = "myMenu">

<link rel="stylesheet" href="../../css/css3.css"  type="text/css">
<div id='cssmenu'>
<ul>
 
   <li class='active has-sub'><a th:href="@{/trafos/list}"><span>Trafostanice</span></a>
      <ul>
       <li class='has-sub'><a th:href="@{/trafos/list}">Spisak svih</a>   
         </li>
         
         <li class='has-sub'><a th:href="@{/trafos/showFormForAdd}">Dodaj novu</a>   
         </li>
         
         <li class='has-sub'> <a th:href="@{/trafos/showFormForSearch}">Pronadji</a>
            
         </li>

      </ul>
   </li>
   
   <li class='active has-sub'><a th:href="@{/monters/list}"><span>Monteri</span></a>
      <ul>
      
      <li class='has-sub'><a th:href="@{/monters/list}">Spisak svih</a>
         </li>
         
      <li class='has-sub'><a th:href="@{/monters/showFormForAdd}"> Dodaj novog</a>            
         </li>
         
       <li class='has-sub'><a th:href="@{/monters/showFormForSearch}">Pronadji</a>    
         </li>
      </ul>
   </li>
   <li class='active has-sub'><a th:href="@{/works/list}"><span>Radovi</span></a>
      <ul>
         
         <li class='has-sub'><a th:href="@{/works/list}">Spisak svih</a>  
         </li>
         
         <li class='has-sub'><a th:href="@{/works/showFormForAdd}">Dodaj novi</a>  
            
         </li>
         
         <li class='has-sub'><a th:href="@{/works/showFormForSearch}">Pronadji</a>
            
         </li>
         
      </ul>
   </li>
   
   <li class='active has-sub'><a ><span>Pretraga</span></a>
      <ul>
       <li class='has-sub'><a th:href="@{/trafos/showFormForMultiSearch}">Trafostanice</a>   
         </li>
       <li class='has-sub'><a th:href="@{/works/showFormForMultiSearch}">Radovi</a>   
         </li>  
         </ul>
         </li>
   

    <li class='active has-sub'><a th:href="@{/trafos/logOut}">Izloguj se</a></li>
</ul>
</div>
<br>

</div>