<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
   <div th:replace = "header :: myheader"></div>

	<title>Lista Montera</title>
</head>

<body>

<div class="container">

	<div th:replace = "fragments/menu :: myMenu"></div>

	<hr>
	
	<form action="search" method="GET">
                Trazi montera: <input type="number" name="id" />
                
                <input type="submit" value="Trazi" class="btn btn-search" />
            </form>
	
	<table class="table table-bordered table-striped" style="width: 1100px">
		<thead>
			<tr>
				<th>Maticni broj</th>
				<th>Ime</th>
				<th>Prezime</th>
				<th>Slobodni dani</th>
				<th>Akcija</th>
			</tr>
		</thead>
		
		<tbody>
			
		</tbody>		
	</table>
		 <INPUT type=button  class="btn btn-primary" value=" Nazad " onClick="history.back();">
	
</div>
	
</body>
</html>



